.card {
    display: grid !important;
    grid-template-columns: 15% 20% 10% 15% 15% 25%;
    grid-template-rows: 150px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}